.GithubShow {


    .main-container {
        width: 500px;
        margin: auto;

        .profile {

            display: flex;
            // align-items: center;

            .avatar {
                width: 80px;
                line-height: 0;
                border: 1px solid #00000061;
                border-radius: 50%;

                img {
                    max-width: 100%;
                    border-radius: 50%;
                }
            }

            .title {
                padding-left: 1rem;

                .name {
                    font-size: 1.8rem;
                    font-family: 'Afacad', sans-serif;
                    font-weight: 600;
                }

                .login {
                    font-size: 1.1rem;
                    font-family: monospace;

                    a {
                        text-decoration: none;
                        color: #000;

                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }

                .joinDate {
                    font-size: 0.9rem;
                    font-family: monospace;
                    padding-top: 0.2rem;

                    span {
                        font-weight: 600;
                        color: #4a4a4a;
                    }
                }
            }
        }

        .bio {
            p {
                font-size: 1.1rem;
                font-family: 'Afacad', sans-serif;
                margin-top: 0.4rem;
                margin-bottom: 0.4rem;
            }
        }

        .info {

            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 1rem 2rem;
            border-radius: 13px;
            background-color: #dedede;
            font-family: "Afacad", sans-serif;


            div {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 0.3rem;

                span {
                    &:first-of-type {
                        font-weight: 600;
                    }
                }
            }
        }


    }
}